.comment-box {
  background: rgba(76, 175, 80, 0.2);
  border-radius: 8px;
  height: 470px;
  padding: 15px 10px;
  /* Corrected property name */
  backface-visibility: hidden;

}

.comment-box h1 {
  font-size: 1.5rem;
  color: #de87e6;
}

/* Fade-in animation for new comments */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.comment-scroll{
  flex: 1;
  overflow-y: auto;     
}

.comment-scroll::-webkit-scrollbar {
  display: none; 
}